<section id="featured" class="featured">
    <h2 class="feature-title">FEATURED PROJECT</h2>
    <div class="top-row">
        <div class="lg-window proj-img">
            <!-- LG -->
            <div class="img"></div>
            <a href="/projects/St.-Barnabas-West-Wing?category=all" class="view-proj-btn">View Project</a>
        </div>
        <div class="right-windows">
            <div class="sm-window proj-img">
                <!-- sm -->
                <div class="img"></div>
                <a href="/projects/St.-Barnabas-West-Wing?category=all" class="view-proj-btn">View Project</a>
            </div>
            <div class="sm-window proj-img">
                <!-- sm -->
                <div class="img"></div>
                <a href="/projects/St.-Barnabas-West-Wing?category=all" class="view-proj-btn">View Project</a>
            </div>
        </div>
    </div>
    <div class="bottom-row">
        <div class="md-window proj-img">
            <!-- Md -->
            <div class="img"></div>
            <a href="/projects/St.-Barnabas-West-Wing?category=all" class="view-proj-btn">View Project</a>
        </div>
        <div class="md-window proj-img">
            <!-- Md -->
            <div class="img"></div>
            <a href="/projects/St.-Barnabas-West-Wing?category=all" class="view-proj-btn">View Project</a>
        </div>
    </div>
    <a class="check-more-btn" href="/projects">View More Projects</a>
</section>