<section class="inquiries">
    <div class="inner-wrap">
        <div class="img-wrap">
            <img  src="/assets/images/compressed/old-bricklayer.jpg" alt="old bricklayer">            
        </div>
        <div class="call-to-action">
            <label for="get-in-touch-btn">
                To discuss any inquiries
            </label>
            <!-- <button id="get-in-touch-btn" type="button">
                Get in TOUCH
                <svg class="icon icon-email-icon"><use xlink:href="#icon-email-icon"></use></svg>
            </button> -->
            <a id="get-in-touch-btn" class="a-btn" href="/contact-us">
                Get in TOUCH
                <svg class="icon icon-email-icon"><use xlink:href="#icon-email-icon"></use></svg>
            </a>
        </div>
    </div>
</section>