<section id="overview" class="overview">

    <!-- meet us -->
    <article class="meet-us">
        <div class="image-wrap">
            <h2>TEAM</h2>
            <div class="overview-img"></div>
        </div>
        <div class="action">
            <a class="a-btn" href="/about-us">Meet Us</a>
        </div>
    </article>
    
    <!-- hear about us -->
    <article class="hear-about-us">
        <div class="image-wrap">
            <h2>TRUSTED</h2>
            <div class="overview-img"></div>
        </div>
        <div class="action">
            <blockquote cite="">
                <p>"One of the most professional contractors I have had the pleasure to work with"</p>
            </blockquote>
            <a class="a-btn hear-about-us" href="trust-respect">Hear About Us</a>
        </div>
    </article>
    
    <!-- see our work -->
    <article class="see-our-work">
        <div class="image-wrap">
            <h2>QUALITY</h2>
            <div class="overview-img"></div>
        </div>
        <div class="action">
            <a class="a-btn" href="/projects">See Our Work</a>
        </div>
    </article>

</section>