<section id="why-we-excell" class="why-we-excell">
   <h2>Why We Excell</h2>
    <ul>
       <li>
           <div>
               <h3>Preconstruction Planning</h3>
               <p>We utilize two "Project Expeditors" to insure that when the construction is ready to go, we are ready to go!</p>
           </div>
       </li>
       <li>
           <div>
               <h3>BIM Modeling</h3>
               <p></p>
           </div>
       </li>
       <li>
           <div>
               <h3>Best Supervision in the Industry</h3>
               <p></p>
           </div>
       </li>
   </ul>
</section>