<!-- BIM model -->
<div class="bim-model-wrap">

    {% if model == 'example1' %}
        <!-- Tory Burch -->
        <iframe src="https://gmail129142.autodesk360.com/shares/public/SH7f1edQT22b515c761e0ceba1f9e269f7c4?mode=embed"  allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>
    {% elseif model == 'example2' %}
        <!-- Richard Weeks -->
        <iframe src="https://gmail129142.autodesk360.com/shares/public/SH7f1edQT22b515c761e43da07e691aa7e26?mode=embed"  allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>
    {% elseif model == 'example3' %}
        <!-- 99 Hudson -->
        <iframe src="https://gmail129142.autodesk360.com/shares/public/SH7f1edQT22b515c761e9aa3930a36c72420?mode=embed"  allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>
    {% else %}
        <!-- 36th East 57th St -->
        <iframe src="https://gmail129142.autodesk360.com/shares/public/SH7f1edQT22b515c761e5225e9b45d85335e?mode=embed"  allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>
    {% endif %}
</div>