<!-- contact INFO -->
<div class="contact-info">
    

        <!-- admin number/email -->
        <div class="admin-info">
            <ul>
                <!-- president  -->
                <li>
                    <h3>Mike Schmerbeck</h3>
                    <h5>President</h5> 
                    <span>908-777-5281 <i>ext(102)</i></span>
                    <a href="mailto:mike@backnrook.com">mike<span class="at-sym">@</span>backbrook.com</a>
                </li>
                <!-- director of ops -->
                <li>
                    <h3>Eric Schaffer</h3>
                    <h5>Director Of Operations</h5>
                    <span>908-777-5281 <i>ext(107)</i></span>
                    <a href="mailto:eric@backnrook.com">eric<span class="at-sym">@</span>backbrook.com</a>
                </li>
                <!-- director of est. -->
                <li>
                    <h3>John Fajnor</h3>
                    <h5>Director Of Estimating</h5>
                    <span>908-777-5281 <i>ext(103)</i></span>
                    <a href="mailto:john@backnrook.com">john<span class="at-sym">@</span>backbrook.com</a>
                </li>
            </ul>
        </div>
    
            <!-- BBM info/address -->
            <div class="office-info">
            <div>
                <svg class="icon icon-location-marker"><use xlink:href="#icon-location-marker"></use></svg>
            </div>
            <div>
                {% include "./office-address.twig" %}
            </div>
        </div> <!-- bbm info/address -->
    
    </div> <!-- contact info -->