<!-- contact INFO -->
<div class="contact-info">
    

        <!-- admin number/email -->
        <div class="admin-info">
            <ul>
                <!-- president  -->
                <li>
                    <h3>Mike Schmerbeck</h3>
                    <h5>President</h5> 
                    <span>908-777-5281 <i>ext(102)</i></span>
                    <a href="mailto:mike@backnrook.com">mike<span class="at-sym">@</span>backbrook.com</a>
                </li>
                <!-- director of ops -->
                <li>
                    <h3>Eric Schaffer</h3>
                    <h5>Director Of Operations</h5>
                    <span>908-777-5281 <i>ext(107)</i></span>
                    <a href="mailto:eric@backnrook.com">eric<span class="at-sym">@</span>backbrook.com</a>
                </li>
                <!-- director of est. -->
                <li>
                    <h3>John Fajnor</h3>
                    <h5>Director Of Estimating</h5>
                    <span>908-777-5281 <i>ext(103)</i></span>
                    <a href="mailto:john@backnrook.com">john<span class="at-sym">@</span>backbrook.com</a>
                </li>
            </ul>
        </div>
    
            <!-- BBM info/address -->
            <div class="office-info">
            <div>
                <svg class="icon icon-location-marker"><use xlink:href="#icon-location-marker"></use></svg>
            </div>
            <div>
                <div class="office-info-wrap">
                    <h3>Office</h3>
                    <address translate="no">
                        <span>311 6th Avenue</span><br>
                        <span>Alpha, <abbr title="New Jersey">NJ</abbr> 08865</span><br>
                        <span class="phone">
                            <svg class="icon icon-phone"><use xlink:href="#icon-phone"></use></svg>
                            <span>908-777-5281</span>
                        </span><br>
                        <span class="fax">
                            <svg class="icon icon-fax"><use xlink:href="#icon-fax"></use></svg>
                            <span>908-777-5283</span>
                        </span>
                    </address>
                </div>
            </div>
        </div> <!-- bbm info/address -->
    
    </div> <!-- contact info -->