<section class="safety-section">
    <div class="text-container">
        <h2>Back Brook Masonry & Safety</h2>
        <p>Back Brook Masonry is dedicated to making safety a continuous priority and establishing safe work practices that become the “norm” for our entire workforce. A safe work environment for all will be provided as anything less is simply unacceptable. Recognized Safety Industry leader <a href="http://www.rufolo.com/" target="_blank">JW Rufolo and Associates, Inc.</a> prepares pre-construction safety audits for all projects and then regularly conducts on-going field audits of all sites to insure OSHA compliance and continuing safe works habits</p>
    </div>
</section>