<div class="testimonial">
    <blockquote>
        <div>
            {{ testimonial.quote|nl2br }}
        </div>
        <footer>
            <cite>
                <span>{{ testimonial.name }}, {{ testimonial.position }}</span>
                <span>{{ testimonial.company }}</span>
            </cite>
        </footer>
    </blockquote>
</div>



