<a href="{{ category.url }}">
    <div class="category">
        <div class="category-img" style="background-image: url('{{ category.image }}')"></div>
        <div class="c-bottom">
            <h3 class="category-type">{{ category.categoryType }}</h3>
        </div>
    </div>
</a>