<!-- -- -- -- -- --
    Project Form 
<!-- -- -- -- -- -->

<form class="category-form">

    <div class="category-btn-wrap">
        <button class="category-btn" type="button">
            By Category
            <svg class="icon icon-down-carrot"><use xlink:href="#icon-down-carrot"></use></svg>
        </button>
    </div>

    <div class="input-wrap">
        <label for="proj-search-bar" class="aria-hidden" aria-hidden="false">Search for a project</label>
        <input id="proj-search-bar" class="search-bar" type="search" placeholder="Find A Project...">
        <svg class="icon icon-clear-icon hidden"><use xlink:href="#icon-clear-icon"></use></svg>
        <svg class="icon icon-search-icon"><use xlink:href="#icon-search-icon"></use></svg>
    </div>

</form>
    