<div class="buttons">
    <div class="control-arrows">
        <div>
            <a class="next-proj-anchor" href="{{ project_controls.nextProj }}">
                <span>next</span>
                <svg class="icon icon-chevron-right"><use xlink:href="#icon-chevron-right"></use></svg>
            </a>
        </div>
        <div>
            <a class="prev-proj-anchor" href="{{ project_controls.prevProj }}">
                <span>prev</span>
                <svg class="icon icon-chevron-left"><use xlink:href="#icon-chevron-left"></use></svg>
            </a>
        </div>
    </div>
</div>