{% include '../../partials/head.twig' %}

<body class="_404">
	<!-- svg symbol defs -->
	{% include '../icons/symbols.twig' %}

	<div class="_404_error-page">
		<div class="error-container">
			<p>Sorry, but the page you requested can not be found</p>
			<p>Try going back to the home page</p>
			<img class="bbm-logo" src="/assets/images/compressed/logo.png" alt="">
			<a href="/">Back to Home</a>
		</div>
	</div>
</body>

