

<section class="bonding-section">
    <div class="text-container">
        <h2>Back Brook Masonry & Bonding</h2>
        <p>Back Brook Masonry enjoys a healthy bonding program with an aggregate work program of $40,000,000 with <a href="https://www.travelers.com/surety-bond" target="_blank">Travelers Casualty and Surety Company of America</a>, a recognized national leader in the surety industry.</p>
        <div class="logo-img-wrap">
            <img class="travelers-logo" src="/assets/images/compressed/travelers-logo.png" alt="Travelers insurance logo">
        </div>
    </div>
</section>