<section class="gensis-section">
    <div class="text-container">
        <h2 class="header-text">Genesis of the Backbrook Name</h2>
        <img class="ridge-logo" src="/assets/images/compressed/ridge-logo.png" alt="The Ridge at Backbrook logo.">
        <p>The name Back Brook Masonry is taken from the golf club, The Ridge at Back Brook, where BBM's two founders are members. The golf club and name are synonymous with quality and excellence! BBM will continue the fine Back Brook tradition!</p>
        <p class="learn-more-link"><a href="http://theridgegc.com/">Learn more about The Ridge at Back Brook</a></p>
    </div>
</section>