<section class="stone-mason-section">
    <div class="text-container">
        <h2 class="header-text">Jesus Was A Stone Mason</h2>
        
        <p>Etiam sed sodales urna. Sed vel posuere orci. Vivamus volutpat dolor id felis ultricies, vel facilisis sem facilisis. Maecenas mattis commodo massa. Nam dictum viverra risus non auctor. Praesent convallis blandit tincidunt. Praesent sodales nisi et iaculis posuere. Nam accumsan ligula vitae eros ultricies, ac venenatis nunc dapibus. Praesent et accumsan turpis, nec varius nibh. Curabitur eget mi eleifend, vulputate neque et, tincidunt leo. Sed fermentum feugiat nisi, et hendrerit est rutrum non. Praesent lacinia mi nec eros pretium varius. Fusce enim magna, dictum nec dictum nec, suscipit non ipsum. In in metus nec urna auctor hendrerit sit amet eu nulla.</p>
    </div>
</section>