
<section class="employees-section">
    <div class="employees-container text-container">
        <h3 class="meet-our-team">Meet Our Team</h3>
        <ul class="employees">
            {% for employee in employees %}
                <li>
                    {% include './employee.twig', with {user: employee} %}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>