

<section class="who-we-are-section">
    <div class="who-we-are-container text-container">
        <h2 class="who-we-are-title header-text">Who We Are</h2>
        <div class="about-bbm">
            <p>Founded on the principal of providing masonry services in a safe and professional manner, Back Brook Masonry was formed in 2011 by two prominent construction industry professionals with more than 25 years experience working in New Jersey, New York and Pennsylvania. The President of Back Brook Masonry, Michael Schmerbeck, has dedicated the last 32 years to the masonry industry where he has earned a reputation for his professionalism, integrity, fairness and commitment to the safety of the worker. Back Brook Masonry is dedicated to providing all clients, on all projects, quality construction, on time and on budget.</p>
        </div>
    </div>
</section>