<div class="slideshow header-slideshow">
    {% for image in officeImages %}
        <div class="header-slide header-slide-{{ loop.index }} current" data-slide-num="{{ loop.index }}"
             style="background-image: url('/assets/images/compressed/office/{{ image }}');">
        </div>
    {% endfor %}
</div>