{% extends "../layouts/default.twig" %}

{% block content %}
    <section id="who-we-are" class="who-we-are-page">
        <div class="container">
            <div class="about-nav-container">
                <nav class="sub-nav">
                    <ul>
                        <li>
                            <a href="/about-us" class="{{ section == '/about-us' ? 'active':'' }}">
                                <span>Who We Are</span>
                            </a>
                        </li>
                        <li>
                            <a href="/about-us/safety" class="{{ section == '/about-us/safety' ? 'active':'' }}">
                                <span>Safety</span>
                            </a>
                        </li>
                        <li>
                            <a href="/about-us/bonding" class="{{ section == '/about-us/bonding' ? 'active':'' }}">
                                <span>Bonding</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            {% if section == '/about-us' %}
                {% include '../blocks/who-we-are.twig' %}
            {% elseif section == '/about-us/safety' %}
                {% include '../blocks/safety.twig' %}
            {% elseif section == '/about-us/bonding' %}
                {% include '../blocks/bonding.twig' %}
            {% endif %}
        
        </div>
    </section>
        
{% endblock %} 