{% extends "../layouts/default.twig" %} 

{% block content %}
    <section id="about-us" class="about-us-page">
        <div class="container">
            <div class="about-nav-container {{ section == '/about-us/meet-our-team' ? 'aside-fix' : '' }}">
                <nav class="sub-nav">
                    <ul>
                        {% set links = navLinks[1].pages %}
                        {% for link in links %} 
                            {% set linkClass = '' %} 
                            {% if (link.subkey in section) or (section == '/about-us' and link.subkey == 'who-we-are') %} 
                                {% set linkClass = ' active' %} 
                            {% endif %}
                            <li>
                                <a class="{{ linkClass }}" href="{{ link.href }}">{{ link.label }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>

            {% if section == '/about-us' %} 
                {% include '../blocks/about-us/who-we-are.twig' %}

            {% elseif section == '/about-us/meet-our-team' %} 
                {% include '../blocks/about-us/meet-our-team.twig' %} 

            {% elseif section == '/about-us/safety' %} 
                {% include '../blocks/about-us/safety.twig' %} 
                
            {% elseif section == '/about-us/bonding' %} 
                {% include '../blocks/about-us/bonding.twig' %} 
                
            {% elseif section == '/about-us/genesis-of-the-backbrook-name' %} 
                {% include '../blocks/about-us/genesis-of-the-backbrook-name.twig' %} 
                
            {% elseif section == '/about-us/jesus-was-a-stone-mason' %} 
                {% include '../blocks/about-us/jesus-was-a-stone-mason.twig' %} 
            {% endif %}

        </div>
    </section>
{% endblock %}