{% extends "../layouts/default.twig" %}

{% block content %}
    <section class="bim-page">
        <div class="bim-banner">
            <h1 class="bim-title">BIM 3D Modeling</h1>
        </div>

        <div class="bim-container">
            <!-- BIM question -->
            <div class="question-wrap">
                <h2 class="bim-question">What is BIM?</h2>
                <blockquote cite="https://www.autodesk.com/solutions/bim">
                        "BIM (Building Information Modeling) is an intelligent 3D model-based process that gives architecture, engineering, and construction (AEC) professionals the insight and tools to more efficiently plan, design, construct, and manage buildings and infrastructure."
                        <footer>
                            <cite>- <a href="https://www.autodesk.com/solutions/bim">Autodesk</a></cite>
                        </footer>
                </blockquote>
            </div>

            <div class="how-we-work-wrap">
                <h2>How We Work</h2>
                <p>At Back Brook Masonry, we take pride in our development process and strive to be as transparent and precise as possible. Every project we undertake undergoes an extensive initial design phase using the latest BIM 3D modeling technologies available. Our in-house designer, Laura, provides our clients with hands on, interactive models of the prject at hand to ensure that the client is 100% satisfied from the start.</p>
            </div>

            <div class="laura-slider">
                <div></div>
            </div>

            <!-- Examples container -->
            {% include "../blocks/bim/bim-examples.twig" %}

        </div>

    </section>
{% endblock %}