{% extends "../layouts/default.twig" %}

{% block content %}
    <div class="container">

        {% include './sections/overview.twig' %}

        {% include './sections/featured.twig' %}

        {% include './sections/why-we-excell.twig' %}

        {% include './sections/inquiries.twig' %}

    </div>
{% endblock %}
