{% extends "../layouts/default.twig" %}

{% block content %}
    <section class="bim-model-page">
        {% include '../blocks/bim/bim-model.twig', with { model: model } %}
    
       <div class="model-slider">
            {% for model in models %}
                <div class="model-slide">
                    <a href="/BIM/example{{ loop.index }}">
                        <div class="model-slide-inner" style="background-image: url('/assets/images/compressed/models/{{ model.image }}')">
                            
                        </div>
                    </a>
                </div>
            {% endfor %}
       </div>
       
    </section>
{% endblock %}